In [20]:
# importing the required libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# import plotly.express as px
import numpy as np
import plotly.graph_objects as go
# import folium
# from folium import plugins
from fbprophet import Prophet
# from fbprophet.plot import plot_plotly, plot_components_plotly
from sklearn.metrics import r2_score
from datetime import datetime

In [ ]:
confirmed_file=pd.read_json('https://api.covid19api.com/country/egypt/status/confirmed/live')
confirmed_file

In [3]:
confirmed_cases= confirmed_file.copy()
confirmed_cases

,Country,CountryCode,Province,City,CityCode,Lat,Lon,Cases,Status,Date
0,Egypt,EG,,,,26.82,30.8,0,confirmed,2020-01-22 00:00:00+00:00
1,Egypt,EG,,,,26.82,30.8,0,confirmed,2020-01-23 00:00:00+00:00
2,Egypt,EG,,,,26.82,30.8,0,confirmed,2020-01-24 00:00:00+00:00
3,Egypt,EG,,,,26.82,30.8,0,confirmed,2020-01-25 00:00:00+00:00
4,Egypt,EG,,,,26.82,30.8,0,confirmed,2020-01-26 00:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...
475,Egypt,EG,,,,26.82,30.8,239740,confirmed,2021-05-11 00:00:00+00:00
476,Egypt,EG,,,,26.82,30.8,240927,confirmed,2021-05-12 00:00:00+00:00
477,Egypt,EG,,,,26.82,30.8,242120,confirmed,2021-05-13 00:00:00+00:00
478,Egypt,EG,,,,26.82,30.8,243317,confirmed,2021-05-14 00:00:00+00:00
479,Egypt,EG,,,,26.82,30.8,242120,confirmed,2021-05-15 00:00:00+00:00

In [4]:
# Drop unused data
confirmed_cases.drop(['Country','CountryCode','Province','City','CityCode','Lat','Lon','Status'], axis=1, inplace=True)
confirmed_cases

      Cases                      Date
0         0 2020-01-22 00:00:00+00:00
1         0 2020-01-23 00:00:00+00:00
2         0 2020-01-24 00:00:00+00:00
3         0 2020-01-25 00:00:00+00:00
4         0 2020-01-26 00:00:00+00:00
..      ...                       ...
475  239740 2021-05-11 00:00:00+00:00
476  240927 2021-05-12 00:00:00+00:00
477  242120 2021-05-13 00:00:00+00:00
478  243317 2021-05-14 00:00:00+00:00
479  242120 2021-05-15 00:00:00+00:00

[480 rows x 2 columns]

In [5]:
 confirmed_cases.dropna()

      Cases                      Date
0         0 2020-01-22 00:00:00+00:00
1         0 2020-01-23 00:00:00+00:00
2         0 2020-01-24 00:00:00+00:00
3         0 2020-01-25 00:00:00+00:00
4         0 2020-01-26 00:00:00+00:00
..      ...                       ...
475  239740 2021-05-11 00:00:00+00:00
476  240927 2021-05-12 00:00:00+00:00
477  242120 2021-05-13 00:00:00+00:00
478  243317 2021-05-14 00:00:00+00:00
479  242120 2021-05-15 00:00:00+00:00

[480 rows x 2 columns]

In [13]:
confirmed_cases["Date"] = pd.to_datetime(confirmed_cases["Date"]).dt.date
confirmed_cases

      Cases        Date
0         0  2020-01-22
1         0  2020-01-23
2         0  2020-01-24
3         0  2020-01-25
4         0  2020-01-26
..      ...         ...
475  239740  2021-05-11
476  240927  2021-05-12
477  242120  2021-05-13
478  243317  2021-05-14
479  242120  2021-05-15

[480 rows x 2 columns]

In [ ]:
confirmed_cases["Date"]=pd.to_datetime(confirmed_cases["Date"])
confirmed_cases["Date"]

In [ ]:
# Drowing the three cases
fig = go.Figure()
#Plotting datewise confirmed cases
fig.add_trace(go.Scatter(x=confirmed_cases['Date'], y=confirmed_cases['Cases'], mode='lines+markers', name='Confirmed',line=dict(color='blue', width=2)))
fig.update_layout(title='Egypt COVID-19 Confirmed Cases', xaxis_tickfont_size=14,yaxis=dict(title='Number of Cases'))

fig.show()

In [ ]:
# # Transpose the out-put
# confirmed_cases=confirmed_cases.T

# # to make an indeces
# confirmed_cases.reset_index(inplace=True)
# confirmed_cases

In [ ]:
# manipulte data before broadcasting 
confirmed_cases.columns = ['ds','y']
confirmed_cases

In [ ]:
# # Training confirmed_cases model
model = Prophet(interval_width=0.97)
# changepoints=['2009-03-09', '2010-07-02', '2011-09-26', '2012-03-20', '2010-04-06']
# n_changepoints=30
# ,daily_seasonality=True
model.fit(confirmed_cases)

In [ ]:
# Drowing the three cases
fig = go.Figure()
#Plotting datewise confirmed cases
fig.add_trace(go.Scatter(x=confirmed_cases['reported_date'], y=confirmed_cases['confirmed_cases'], mode='lines+markers', name='Confirmed',line=dict(color='blue', width=2)))
fig.update_layout(title='Egypt COVID-19 Confirmed Cases', xaxis_tickfont_size=14,yaxis=dict(title='Number of Cases'))

fig.show()

In [ ]:
# manipulte data before broadcasting 
confirmed_cases.columns = ['ds','y']
confirmed_cases

In [ ]:
# # Training confirmed_cases model
model = Prophet(interval_width=0.97)
# changepoints=['2009-03-09', '2010-07-02', '2011-09-26', '2012-03-20', '2010-04-06']
# n_changepoints=30
# ,daily_seasonality=True
model.fit(confirmed_cases)

In [ ]:
# prediction
future = model.make_future_dataframe(periods=7,freq='M')
forecast = model.predict(future)
forecast.tail()

In [ ]:
forecast[['ds', 'trend', 'trend_lower', 'trend_upper']].tail()

In [ ]:
model.plot(forecast)

In [ ]:
model.plot_components(forecast)

In [ ]:
model.plot(forecast,xlabel = 'Date', ylabel = 'Recorved')

In [ ]:
model.plot_components(forecast)

In [ ]:
# Python
plot_plotly(model, forecast)

In [ ]:
#to get the error
metric_df = forecast.set_index('ds')[['yhat']].join(confirmed_cases.set_index('ds').y).reset_index()
metric_df

In [ ]:
# nane as the future data first 
# was not exsist 
metric_df.dropna(inplace=True)
metric_df

In [ ]:
# mean_squared_error(metric_df.y, metric_df.yhat)
r2_score(metric_df.y, metric_df.yhat)

In [ ]:
confirmed_cases.set_index('ds').y.plot()

In [ ]:
model.plot(forecast)
for changepoint in model.changepoints:
    plt.axvline(changepoint,ls='--', lw=1)
plt.show()

In [ ]:
#the magnitude of changepoints
deltas = model.params['delta'].mean(0)
fig = plt.figure(facecolor='w')
ax = fig.add_subplot(111)
ax.bar(range(len(deltas)), deltas)
ax.grid(True, which='major', c='gray', ls='-', lw=1, alpha=0.2)
ax.set_ylabel('Rate change')
ax.set_xlabel('Potential changepoint')
fig.tight_layout()